.table-view{
    -fx-background-color: black;
}
.table-row-cell:selected .table-cell {
   -fx-background-color: #35ae50; 
}
.table-row-cell:selected .text {
       -fx-fill: black ;
}
.table-row-cell:odd{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-row-cell:even{
    -fx-background-color: #ffbb00;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view .column-header{
    -fx-background-color: black;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}